<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net472" />
</packages>


<!-- MM: Nisam siguran da li ovo sme da se brise.
	     Ako je vezano za obrisane 'Ukradene' fajlove (admin.master),
	     onda sme da se brise. (24.04.2022.)-->